:root {
  --white: #f9fafe;
  --dark: #12151c;
}

:root [data-bs-theme=light] {
  --bs-border-color: var(--dark);
  --bs-body-bg: var(--white);
  --bs-link-color: var(--dark);
  --bs-link-color-rgb: var(--dark);
  --primary: #d80b30;
  --muted-bg: #c4c4c4;
  --text-color: var(--dark);
}

:root [data-bs-theme=dark] {
  --bs-border-color: var(--white);
  --bs-body-bg: var(--dark);
  --bs-link-color: var(--white);
  --bs-link-color-rgb: var(--white);
  --primary: #ff728c;
  --muted-bg: #323439;
  --text-color: var(--white);
}

.navbar {
  --bs-navbar-color: var(--text-color);
}

body, html {
  font-family: Zen Kaku Gothic New;
  font-size: 18px;
}
.profile-image {
  bottom: -15px;
  right: -15px;
  z-index: -1;
  border-width: 8px!important;
}

.text-primary {
  color: var(--primary)!important;
}

#about .iconify {
  font-size: 30px;
  min-width: fit-content;
  color: var(--primary);
}

.progress {
  --bs-progress-bar-bg: var(--primary);
  background-color: var(--muted-bg);
}

#navbar .iconify {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  #navbar {
    background: var(--dark);
    font-size: 1rem;
  }
  .nav-item {
    margin-top: 1rem;
  }
}

.form-check-input:checked {
  background-color: #2c3167;
  border-color: var(--text-color);
}

.form-check-input:focus {
  border-color: var(--text-color);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255,255,255,0);
}

.form-check-input {
  background-color: #fff3b4;
  border: 2px solid var(--text-color);
  font-size: 32px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0;
}

.nav-bg-light {
  background: #ffe8ec!important;
}

.nav-bg-dark {
  background: #0f0f10!important;
}