:root {
  --white: #f9fafe;
  --dark: #12151c;
  --dark2: #0f0f10;
  --white2: #ffeef1;
}

:root [data-bs-theme=light] {
  --bs-border-color: var(--dark);
  --bs-body-bg: var(--white);
  --bs-link-color: var(--dark);
  --bs-link-color-rgb: var(--dark);
  --primary: #a5233b;
  --muted-bg: #c4c4c4;
  --text-color: var(--dark);
  --navbar-bg: var(--white2);
  --text-color-inverted: var(--white);
}

:root [data-bs-theme=dark] {
  --bs-border-color: var(--white);
  --bs-body-bg: var(--dark);
  --bs-link-color: var(--white);
  --bs-link-color-rgb: var(--white);
  --primary: #ff728c;
  --muted-bg: #323439;
  --text-color: var(--white);
  --text-color-inverted: var(--dark);
  --navbar-bg: var(--dark2);
}

.navbar {
  --bs-navbar-color: var(--text-color);
}

body, html {
  font-family: Zen Kaku Gothic New;
  font-size: 18px;
}
.profile-image {
  bottom: -15px;
  right: -15px;
  z-index: -1;
  border-width: 8px!important;
  background: var(--primary);
  border-radius: 4px;
}

#about img {
  border-radius: 4px;
}
.text-primary {
  color: var(--primary)!important;
}

.bg-primary {
  background-color: var(--primary)!important;
}

.text-color-inverted {
  color: var(--text-color-inverted)!important;
}

#about .iconify {
  font-size: 30px;
  min-width: fit-content;
  color: var(--primary);
}

.progress {
  --bs-progress-bar-bg: var(--primary);
  background-color: var(--muted-bg);
}

#navbar .iconify {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  #navbar {
    background: var(--navbar-bg)!important;
    font-size: 1rem;
  }
  .nav-item {
    margin-top: 1rem;
  }
  .form-check-input:checked {
    background-color: var(--dark)!important;
  }
  .form-check-input {
    background-color: var(--white)!important;
  }
}

#navbar {
  background: transparent;
}

.form-check-input:checked {
  background-color: var(--dark2);
  border-color: var(--primary)
}

.form-check-input:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.form-check-input {
  background-color: var(--white2);
  border: 2px solid var(--primary);
  font-size: 32px;
}

.nav-bg-dark .form-check-input {
  background-color: var(--dark);
}

.nav-bg-light .form-check-input {
  background-color: var(--white);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0;
}

.dropdown-toggle:after { 
  vertical-align: middle;
}

.nav-bg-light {
  background: var(--white2)!important;
}

.nav-bg-dark {
  background: var(--dark2)!important;
}

.nav-item *:hover, #navbardrop:hover, .dropdown {
  text-decoration: underline;
}

.dropdown {
  text-decoration: none!important;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.sk {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--muted-bg);
  border-radius: 2px;
}

#skills tr {
  border-color: var(--bs-body-bg);
  border-bottom-width: 6px;
}

.list-group-item {
  border: 1px solid var(--muted-bg);
}

.card {
  border: 0;
}

.masonry-item {
  border: 2px solid var(--muted-bg);
  border-radius: var(--bs-border-radius);
  background-color: var(--muted-bg);
}

.list-group-flush {
  border-top: 1px solid var(--muted-bg)!important;
}