:root {
  --white: #f9fafe;
  --dark: #12151c;
  --dark-rgb: 18, 21, 28;
  --dark2: #0f0f10;
  --white2: #ffeef1;
  --dark3: #252835;
  --white3: #eaeaea;
  --sun: url("data:image/svg+xml,%3Csvg%20data-v-7e011970%3D%22%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20class%3D%22icon%20iconify%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%22-30%200%20296%20256%22%3E%3Cg%20fill%3D%22%2312151c%22%3E%3Cpath%20d%3D%22M184%20128a56%2056%200%201%201-56-56a56%2056%200%200%201%2056%2056Z%22%20opacity%3D%22.2%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M120%2040V16a8%208%200%200%201%2016%200v24a8%208%200%200%201-16%200Zm72%2088a64%2064%200%201%201-64-64a64.07%2064.07%200%200%201%2064%2064Zm-16%200a48%2048%200%201%200-48%2048a48.05%2048.05%200%200%200%2048-48ZM58.34%2069.66a8%208%200%200%200%2011.32-11.32l-16-16a8%208%200%200%200-11.32%2011.32Zm0%20116.68l-16%2016a8%208%200%200%200%2011.32%2011.32l16-16a8%208%200%200%200-11.32-11.32ZM192%2072a8%208%200%200%200%205.66-2.34l16-16a8%208%200%200%200-11.32-11.32l-16%2016A8%208%200%200%200%20192%2072Zm5.66%20114.34a8%208%200%200%200-11.32%2011.32l16%2016a8%208%200%200%200%2011.32-11.32ZM48%20128a8%208%200%200%200-8-8H16a8%208%200%200%200%200%2016h24a8%208%200%200%200%208-8Zm80%2080a8%208%200%200%200-8%208v24a8%208%200%200%200%2016%200v-24a8%208%200%200%200-8-8Zm112-88h-24a8%208%200%200%200%200%2016h24a8%208%200%200%200%200-16Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  --moon: url("data:image/svg+xml,%3Csvg%20data-v-7e011970%3D%22%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20class%3D%22icon%20iconify%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%20296%20256%22%3E%3Cg%20fill%3D%22%23f9fafe%22%3E%3Cpath%20d%3D%22M210.69%20158.18A88%2088%200%201%201%2097.82%2045.31A96.08%2096.08%200%200%200%20192%20160a96.78%2096.78%200%200%200%2018.69-1.82Z%22%20opacity%3D%22.2%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M240%2096a8%208%200%200%201-8%208h-16v16a8%208%200%200%201-16%200v-16h-16a8%208%200%200%201%200-16h16V72a8%208%200%200%201%2016%200v16h16a8%208%200%200%201%208%208Zm-96-40h8v8a8%208%200%200%200%2016%200v-8h8a8%208%200%200%200%200-16h-8v-8a8%208%200%200%200-16%200v8h-8a8%208%200%200%200%200%2016Zm72.77%2097a8%208%200%200%201%201.43%208A96%2096%200%201%201%2095.07%2037.8a8%208%200%200%201%2010.6%209.06a88.07%2088.07%200%200%200%20103.47%20103.47a8%208%200%200%201%207.63%202.67Zm-19.39%2014.88c-1.79.09-3.59.14-5.38.14A104.11%20104.11%200%200%201%2088%2064c0-1.79%200-3.59.14-5.38a80%2080%200%201%200%20109.24%20109.24Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

[data-bs-theme=light] {
  --bs-border-color: var(--dark);
  --bs-body-bg: var(--white);
  --bs-link-color: var(--dark);
  --bs-link-color-rgb: var(--dark);
  --primary: #a5233b;
  --muted-bg: #c4c4c4;
  --text-color: var(--dark);
  --navbar-bg: var(--white2);
  --text-color-inverted: var(--white);
  --bs-link-hover-color: #ea3757;
  --bg-skills: var(--white3);
  --dark-mode-icon: var(--sun);
  --bg-carousel-indicator: var(--white);
  --btn-carousel-indicator: var(--dark);
}

[data-bs-theme=dark] {
  --bs-border-color: var(--white);
  --bs-body-bg: var(--dark);
  --bs-link-color: var(--white);
  --bs-link-color-rgb: var(--white);
  --primary: #ff728c;
  --muted-bg: #323439;
  --text-color: var(--white);
  --text-color-inverted: var(--dark);
  --navbar-bg: var(--dark2);
  --bs-link-hover-color: #ff93a7;
  --bs-dark: var(--dark);
  --bs-dark-rgb: var(--dark-rgb);
  --bg-skills: var(--dark3);
  --dark-mode-icon: var(--moon);
  --bg-carousel-indicator: var(--dark);
  --btn-carousel-indicator: var(--white);
}

.navbar {
  --bs-navbar-color: var(--text-color);
}

body, html {
  font-family: Zen Kaku Gothic New;
  font-size: 18px;
}

#navbar {
  font-size: 16px;
}

.profile-image {
  bottom: -15px;
  right: -15px;
  z-index: -1;
  border-width: 8px!important;
  background: var(--primary);
  border-radius: 4px;
}

#about img {
  border-radius: 4px;
}
.text-primary {
  color: var(--primary)!important;
}

.bg-primary {
  background-color: var(--primary)!important;
}

.text-color-inverted {
  color: var(--text-color-inverted)!important;
}

#about .iconify {
  font-size: 30px;
  min-width: fit-content;
}

#about .iconify {
  color: var(--primary);
}

.progress {
  --bs-progress-bar-bg: var(--primary);
  background-color: var(--muted-bg);
}

#navbar .iconify {
  font-size: 30px;
}
@media only screen and (max-width: 991px) {
  #navbar {
    background: var(--navbar-bg)!important;
    font-size: 1rem;
  }
  .nav-item {
    margin-top: 1rem;
  }
  [data-bs-theme=dark] .form-check-input {
    background-color: var(--dark)!important;
  }
  [data-bs-theme=light] .form-check-input {
    background-color: var(--white)!important;
  }
  body, html {
    font-size: 16px;
  }
}

#navbar {
  background: transparent;
}

.form-check-input {
  font-size: 32px;
}

[data-bs-theme=dark] .form-check-input {
  background-color: var(--dark2);
  border-color: var(--primary)
}

.form-check-input:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

[data-bs-theme=light] .form-check-input {
  background-color: var(--white2);
  border: 2px solid var(--primary);
}

.nav-bg-dark .form-check-input {
  background-color: var(--dark);
}

.nav-bg-light .form-check-input {
  background-color: var(--white);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0;
}

.dropdown-toggle:after { 
  vertical-align: middle;
}

.nav-bg-light {
  background: var(--white2)!important;
}

.nav-bg-dark {
  background: var(--dark2)!important;
}

.nav-item .dropdown-item:hover, #navbardrop:hover, .dropdown {
  text-decoration: underline;
}

.dropdown {
  text-decoration: none!important;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.sk {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--muted-bg);
}

#projects .lnks {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--text-color-inverted);
  border-radius: 2px;
}

#skills tr {
  border-color: var(--bs-body-bg);
  border-bottom-width: 6px;
}

.list-group-item {
  border: 1px solid var(--muted-bg);
}

.card {
  border: 0;
}

.masonry-item {
  border: 3px solid var(--muted-bg);
  border-radius: var(--bs-border-radius);
  background-color: var(--muted-bg);
}

.list-group-flush {
  border-top: 1px solid var(--muted-bg)!important;
}

#projects .sk, #projects .lnks {
  font-size: 0.85em;
}

a:hover, .socials-icons .iconify:hover {
  color: var(--bs-link-hover-color)!important;
  text-decoration: underline!important;
}

a {
  color: var(--primary)!important;
  text-decoration: none!important;
}

.dark-mode-input {
  --bs-form-switch-bg: var(--dark-mode-icon)!important;
}

.bg-skills {
  background-color: var(--bg-skills);
}

.carousel-indicators [data-bs-target] {
  height: 4px;
}

.bg-indicator {
  background-color: var(--bg-carousel-indicator);
}

.btn-indicator {
  background-color: var(--btn-carousel-indicator)!important;
}